* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin-top: 100px;
  background-color: black;
}
.main {
  background-color: rgb(8, 8, 8);
  width: 100%;
}
.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  padding: 0 2rem;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  color: white;
}

.wrap {
  margin: 30px;
  padding-top: 800px;
}

h2 {
}
.menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.menu-wrap .menu li {
  list-style: none;
  padding: 0;
  margin-right: 30px;
  color: white;
}

.header-style {
  font-size: 1.5rem;
  list-style: none;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.header-style:hover {
  color: red;
}

.movie-list {
  display: flex;
  list-style: none;

  padding: 0;
  margin: 0;
  gap: 1rem !important; /* 영화 카드 사이 간격 */
  width: 100%;
  height: 100%;
}

.movie-list2 {
  flex: 0 0 auto;
  align-items: center;
}

.movie-list2 h3 {
  color: white;
  font-size: 20px;
}

.movie-list2 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.swiper-main {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 1;
}
.swiper-wrapper {
  box-sizing: initial;
  display: flex;
  height: 100%;
  position: relative;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  width: 100%;
  z-index: 1;
}
.btn {
  color: white;
  margin-left: 20px;
  background-color: red;
  border-radius: 10px;
  border: 1px solid red;
  width: 120px;
  height: 30px;
  cursor: pointer;
  font-weight: 1000;
  box-shadow: 0 0 30px rgba(255, 0, 0, 0.8);
  margin-top: 50px;
}

.search-bar {
  margin-left: 50px;
  margin-top: 100px;
}

.search-bar button {
  background-color: red;
  border: 4px solid transparent;
  border-radius: 15px;
  box-shadow: 0 0 7px 8px rgba(255, 0, 0, 0.302);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  /* padding: 0.5rem 1.8rem; */
  position: relative;
  transition: box-shadow 0.3s ease;
  width: 106px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  /*top: 95px;*/
}

.search-bar input {
  border: none;
  border-bottom: 1px solid gray;
  color: black;
}

h3 {
  color: white;
  font-size: 12px;
}

.movie-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.movie {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* main css */

.main-background1 {
  position: relative;
  width: 100%;
  height: 900px;
  background-color: black;
  overflow: hidden; /* Ensure child elements do not overflow */
}
.main-background2 {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5; /* Overall opacity */
}
.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; /* Height of the bottom gradient overlay */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  opacity: 1; /* Opacity of the gradient overlay */
}

.main-list {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.main-list2 {
  position: relative;
  top: 0;
}
.main-list2-1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.main-poster {
  /*
  margin-right: 100px;
  width: 30vw;
  height: 500px;
*/
}

.main-list3 {
  margin-left: 100px;
  margin-right: 50px;
}

.main-list3 p {
  color: white;
}

.main-list3 h3 {
  font-size: 5rem;
}

.main-list4 {
  margin-top: 50px;
}

.main-list4 button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.main-list4 button:nth-child(1) {
  margin-right: 50px;
}

.main-list4 button:hover {
  border: 2px solid red;
}
